@model IEnumerable<pelis.Models.Movie>

@{
    ViewData["Title"] = "Movies";
}

<h2>All the movies</h2>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.ReleaseYear)</th>
            <th>@Html.DisplayNameFor(model => model.Director)</th>
            @* for displaying links *@
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var movie in Model)
    {
        <tr>
            <td>@movie.Title</td>
            <td>@movie.ReleaseYear</td>
            <td>@movie.Director</td>
            <td>
                @*<a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.ID">Details</a>*@
                @* TODO: quick fix. change this *@
                <a href="Movies/@movie.ID">Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>
