@model IEnumerable<pelis.Models.Actor>

@{
    ViewData["Title"] = "Actors";
}

<h2>All the actors</h2>
<a asp-action="Add">Add new actor...</a>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FullName)</th>
            <th>@Html.DisplayNameFor(model => model.Age)</th>
            @* for displaying links *@
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var actor in Model)
    {
        <tr>
            <td>@actor.FullName</td>
            <td>@actor.Age</td>
            <td>
                <a asp-controller="Actors" asp-action="Details" asp-route-actorId="@actor.ID">Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>
